@model IEnumerable<ApplicationUser> 
@{
    ViewData["Title"] = "USERS";
}
@if (User.IsInRole(Identity.Utilities.Helper.Admin))
{
    

<h1 class="bg-info text-white">All Users</h1>
<a asp-action="Register" class="btn btn-secondary">Create new User</a>

<table class="table table-sm table-bordered table-bordered">
    <tr><th>Name</th><th>Email</th><th>Role</th></tr>
    @foreach (var role in Model)
    {
        <tr>
                <td width ="30%">@role.UserName</td>
                <td width="30%"> @role.Email </td>
                <td width="30%"> @role.Name </td>
                <td width="30%">
                    <div class="w-100 btn-group" role="group">
                        <a asp-controller="Account" asp-action="Update" asp-route-Id="@role.Id" class="btn btn-primary mx-1">Update</a>
                        <a asp-controller="Account" asp-action="Delete" asp-route-Id="@role.Id" class="btn btn-danger mx-1">Delete</a>
                    </div>
                </td>
        </tr>
    }
</table>
}

<h1 style="color color-red">
    This portion is for Admins
</h1>